###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea
###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###

/xml/
