* {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    color: #000;
    margin: 0;
    padding: 4px 0 60px;
    background-color: #EEEEEE;
    font-size: 14px;
}

a {
    color: #006699;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a img {
    border: solid 1px #006699;
}

form {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 35px;
}

h1 a {
    display: block;
    width: 450px;
    padding: 10px 0 0 30px;
}

h2 {
    margin: 20px 0 5px 0;
}

p {
    margin: 10px 0;
    line-height: 1.3;
}

ul, ol {
    padding: 0 0 0 20px;
}
li {
    margin: 10px 2px;
}
#container {
    width: 950px;
    margin: 0 auto;
    padding: 0 0 10px;
    background-color: white;
}

#czywiesz {
    width: 950px;
    height: 200px;
    clear: both;
    background-size: cover;
    background: url(../images/pieszy_jerozolimskie.jpg) center;
}

#menu {
    float: right;
    height: 32px;
    padding: 25px 0 0 0;
}

#menu ul, #footer ul {
    padding: 0;
    margin: 0;
    font-weight: bold;
    list-style-type: none;
}

#menu li, #footer li {
    padding: 0;
    display: block;
    float: left;
    margin: 0;
}

#menu li, #footer li {
    font-size: 13px;
    padding: 8px 11px;
    display: block;
}

#menu li {
    position: relative;
}

.box {
    text-align: left;
    margin: 5px 10px;
    padding: 3px 20px;
    display: inline-block;
    vertical-align: top;
    width: 400px;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #dddddd;
    text-align: center;
}

table {
    font-size: 13px;
    background-color: #CCCCCC;
    text-align: right;
    width: 685px;
    margin: 5px auto;
}

table td {
    background-color: #FFFFFF;
    padding: 4px 5px;
}

table th {
    text-align: center;
    background-color: #CCCCCC;
}

table tr td:first-child {
    text-align: left;
}

#form {
    display: grid;
    grid-template-columns: 48% 44%;
    grid-gap: 2em;
    text-align: left;
}

#form p {
    display: block;
    float: left;
    font-weight: bold;
    width: 100%;
}

#form form > div {
    padding: 15px;
}

#form label {
    display: block;
    width: 40%;
    margin: 3px;
    padding: 2px;
    float: left;
    clear: left;
    height: 20px;
}

#form input, #form textarea, #form select {
    display: block;
    width: 50%;
    height: 15px;
    padding: 3px;
    float: right;
}

#form select {
    height: 25px;
    width: calc(50% + 10px);
}
#form button {
    margin: 15px;
    height: 27px;
    float: right;
    width: 390px;
}

#form .form-checkbox div label {
    width: 100%;
}

#form input[type=checkbox] {
    width: 18px;
    margin: 4px 5px 4px 10px;
    display: inline-block;
    float: none;
}

#form .form-checkbox div div label {
    width: 85%;
    margin: 0 2px;
    display: inline-block;
    float: none;
    height: auto;
    padding: 0;
    top: -4px;
    position: relative;
}

#form textarea {
    height: 300px;
}

#content {
    padding: 10px;
}

#accident-page ul {
    text-decoration: none;
}

#accident-page ul li {
    list-style: none;
    padding: 3px;
}

#accident-page ol li {
    padding: 3px;
}

#accident-page h3 {
    text-align: left;
}

.clearfix {
    width: 100%;
}

#admin_form {
    height: 400px;
}


#admin_form label {
    display: block;
    width: 40%;
    margin: 3px;
    padding: 2px;
    float: left;
    clear: left;
    height: 20px;
}

#admin_form input, #admin_form textarea, #admin_form select {
    display: block;
    width: 50%;
    height: 15px;
    padding: 3px;
    float: right;
    margin: 3px;
}

#admin_form button {
    clear: both;
    margin: 3px;
    float: right;
}

#admin_form select, #admin_form button {
    height: 25px;
    width: calc(50% + 10px);
}

#admin_form textarea {
    height: 300px;
    margin: 3px;
}