* {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

html {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    color: #000;
    margin: 0;
    padding: 4px 0;
    text-align: center;
    background-color: #EEEEEE;
}

a {
    color: #006699;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a img {
    border: solid 1px #006699;
}

form {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 35px;
}

h1 a {
    display: block;
    width: 450px;
    padding: 10px 0 0 30px;
}

h2 {
    margin: 10px 10px 0 10px;
}

p {
    margin: 10px 0;
    text-align: justify;
}

ul, ol {
    padding: 0 0 0 20px;
    text-align: justify;
}

#container {
    width: 950px;
    margin: 0 auto;
    background-color: white;
}

#czywiesz {
    width: 950px;
    height: 200px;
    clear: both;
    background-image: url(../images/tlo_czy.jpg);
    text-align: left;
}

#menu {
    float: right;
    height: 32px;
    padding: 25px 0 0 0;
}

#menu ul, #footer ul {
    padding: 0;
    margin: 0;
    font-weight: bold;
    list-style-type: none;
}

#menu li, #footer li {
    padding: 0;
    display: block;
    float: left;
    margin: 0;
}

#menu li, #footer li {
    font-size: 13px;
    padding: 8px 11px;
    display: block;
}

#menu li {
    position: relative;
}

.box {
    text-align: justify;
    margin: 5px 9px;
    padding: 3px;
    float: left;
    width: 290px;
    border: solid 1px gray;
}

#footer {
    clear: both;
    width: 100%;
    background-color: silver;
    padding: 5px 0;
    margin: 3px 0 0 0;
}

table {
    font-size: 13px;
    background-color: #CCCCCC;
    text-align: right;
    width: 685px;
    margin: 5px auto;
}

table td {
    background-color: #FFFFFF;
    padding: 4px 5px;
}

table th {
    text-align: center;
    background-color: #CCCCCC;
}
table tr td:first-child {
    text-align: left;
}

#form {
    padding-left: 60px;
    text-align: left;
}

#form div {
    width: 800px;
    clear: both;
    padding: 5px;
}

#form label {
    display: block;
    width: 250px;
    margin: 3px;
    float: left;
}

#form input, #form textarea, #form select {
    float: right;
    display: block;
    width: 500px;
}

#form textarea {
    height: 300px;
}
#accident-page {
    padding: 10px;
}
#accident-page ul {
    text-decoration: none;
}
#accident-page li {
    list-style: none;
    padding: 3px;
}
#accident-page h3 {
    text-align: left;
}