<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}System Ewidencji Wypadków i Kolizji{% endblock %}</title>
    <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
</head>
<body>

<div id="container">
    <h1><a href="{{ path('index') }}">SEWIK</a> / <a href="{{ path('search') }}">Wyszukiwarka</a></h1>
    <div id="menu">
        <ul>
            <li><a href="{{ path('contact_page') }}">kontakt</a></li>
        </ul>
    </div>
    <div id="czywiesz">
    </div>
    <div id="content">
        {% block body %}{% endblock %}
    </div>
</div>
<div id="footer">Wyszukiwarka Systemu Ewidencji Wypadków i Kolizji 2023</div>

</body>
</html>
