<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}System Ewidencji Wypadków i Kolizji{% endblock %}</title>
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
</head>
<body>

<div id="container">
    <h1><a href="index.php">SEWIK / Wyszukiwarka</a></h1>
    <div id="menu">
        <ul>
            <li><a href="?id=pomoc">pomoc</a></li>
            <li><a href="?id=kontakt">kontakt</a></li>
        </ul>
    </div>
    <div id="czywiesz">
        <!-- <img src="img/czywiesz.png"> -->
        <!-- <img src="img/fenomen_sewik.png" style="margin: 0 10px;" alt="logo fundacji fenomen"> -->
    </div>
    {% block body %}{% endblock %}
</div>
<div id="footer">Karol Mocniak &copy; 2018</div>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37506377-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>

</body>
</html>
