{% extends 'base.html.twig' %}
{% block body %}
    <div id="contact-page">
        <h2>O stronie</h2>

        <p>Sewik.pl jest niekomercyjną stroną umożliwiającą przeszukiwanie statystyk Systemu Ewidencji Wypadków i Kolizji.</p>

        <h2>Kontakt z autorem</h2>

        <ul>
            <li>email: <a href="mailto:karol@mocniak.pl">karol@mocniak.pl</a></li>
            <li>github: <a href="https://github.com/mocniak/sewik">mocniak/sewik</a></li>
            <li>linkedin: <a href="https://www.linkedin.com/in/mocniak/">/in/mocniak</a></li>
        </ul>
    </div>
{% endblock %}
