{% extends 'base.html.twig' %}
{% block body %}

    <div class="box">
        <h2>O stronie</h2>

        <p>Sewik.pl jest niekomercyjnym serwisem umożliwiającym przeszukiwanie kolizji i wypadków drogowych na terenie Polski.</p>

        <p>Wyszukiwarka korzysta z danych Systemu Ewidencji Wypadków i Kolizji udostępnionych przez Komendę Główną Policji w Warszawie.</p>

        <p>Zakres dostępnych danych: <strong>od 2007-01-01 do 2020-03-31.</strong></p>

        <h2>Kontakt</h2>

        <ul>
            <li>email: <a href="mailto:karol@mocniak.pl">karol@mocniak.pl</a></li>
            <li>facebook: <a href="http://www.facebook.com/mocniak">/mocniak</a></li>
            <li>linkedin: <a href="https://www.linkedin.com/in/mocniak/">/in/mocniak</a></li>
        </ul>
    </div>
    <div class="box">
        <a href="{{ path('search') }}" style="background-color: #006699; color: white; text-align: center; display: block; padding: 25px 30px; margin-top: 20px; border: 1px solid #006699; font-size: 1.5em">Wyszukiwarka zdarzeń<br> i raportów »</a>
        <h2>Opracowania i analizy</h2>
        <ul>
            <li><a href="http://sewik.pl/raporty/pieszy.html">Bezpieczeństwo pieszych w świetle prawodawstwa krajowego i działań lokalnych (2016)</a></li>
            <li><a href="http://mirl.info.pl/raport/SEWiK_2010_2014.pdf">Raport o bezpieczeństwie ruchu rowerowego w Lublinie w latach 2010-2014</a></li>
            <li>
                <a href="http://ibikekrakow.com/2012/03/31/pijani-sprawcy-wypadkow-kto-szkodzi-glownie-sobie-a-kto-innym-pijani-rowerzysci-jak-pijani-piesi/">Pijani
                    sprawcy wypadków – kto szkodzi głównie sobie, a kto innym?</a></li>
            <li>
                <a href="http://polskanarowery.sport.pl/msrowery/1,105126,9232106,Bezpieczenstwo_rowerzystow_a_mitologia.html">Bezpieczeństwo
                    rowerzystów a mitologia</a></li>
            <li>
                <a href="http://rowerowalodz.pl/aktualnosci/482-lodzka-infrastruktura-i-polityka-rowerowa-raport-o-tym-co-jest-a-co-powinno-byc">Łódzka
                    infrastruktura i polityka rowerowa: raport o tym, co jest, a co powinno być</a></li>
        </ul>
    </div>
{% endblock %}