{% extends 'base.html.twig' %}
{% block body %}

    <div class="box">
        <h2>O stronie</h2>
        <p>Wyszukiwarka sewik.pl jest niekomercyjnym serwisem umożliwiającym przeszukiwanie danych dotyczących zdarzeń drogowych na terenie Polski.</p>
        <h2>O statystykach</h2>
        <p>Dane na pochodzą z policyjnego Systemu Ewidencji Wypadków i Kolizji z okresu 2007-2016 udostępnionego przez Komendę Główną Policji dla sieci Miasta dla Rowerów.</p>
        <p>Interpretując zestawienia należy wziąć pod uwagę zdarzające się błędy w Systemie oraz fakt, że część zdarzeń
            nie jest zgłaszana.</p>

        <h2>Kontakt</h2>

        <ul>
            <li>email: <a href="mailto:karol@mocniak.pl">karol@mocniak.pl</a></li>
            <li>facebook: <a href="http://www.facebook.com/mocniak">/mocniak</a></li>
            <li>linkedin: <a href="https://www.linkedin.com/in/mocniak/">/in/mocniak</a></li>
        </ul>
    </div>
    <div class="box">
        <a href="{{ path('search') }}" style="background-color: #006699; color: white; text-align: center; display: block; padding: 25px; margin-top: 20px; border: 1px solid #006699; font-size: 1.5em">Wszyszukiwarka zdarzeń i raportów »</a>
        <h2>Opracowania i analizy</h2>
        <ul>
            <li><a href="http://sewik.pl/raporty/pieszy.html">Bezpieczeństwo pieszych w świetle prawodawstwa krajowego i działań lokalnych (2016)</a></li>
            <li><a href="http://mirl.info.pl/raport/SEWiK_2010_2014.pdf">Raport o bezpieczeństwie ruchu rowerowego w Lublinie w latach 2010-2014</a></li>
            <li>
                <a href="http://ibikekrakow.com/2012/03/31/pijani-sprawcy-wypadkow-kto-szkodzi-glownie-sobie-a-kto-innym-pijani-rowerzysci-jak-pijani-piesi/">Pijani
                    sprawcy wypadków – kto szkodzi głównie sobie, a kto innym?</a></li>
            <li><a href="http://stary.rowerowy.bialystok.pl/index.php?art=1241">Raport o bezpieczeństwie ruchu rowerowego
                    w Białymstoku 2007-2010</a></li>
            <li>
                <a href="http://polskanarowery.sport.pl/msrowery/1,105126,9232106,Bezpieczenstwo_rowerzystow_a_mitologia.html">Bezpieczeństwo
                    rowerzystów a mitologia</a></li>
            <li>
                <a href="http://rowerowalodz.pl/aktualnosci/482-lodzka-infrastruktura-i-polityka-rowerowa-raport-o-tym-co-jest-a-co-powinno-byc">Łódzka
                    infrastruktura i polityka rowerowa: raport o tym, co jest, a co powinno być</a></li>
        </ul>
    </div>
{% endblock %}