{% extends 'base.html.twig' %}

{# array of report queries #}
{% set categories = {
    'Czas zdarzeń' : [
        '594095eb-ccb6-4121-94dd-ace27bc1ca82',
        '92c66566-2f48-4d5d-8cca-219889208b1a',
        '8570a545-ca86-49fa-9951-0db9396c46b2',
        'a0869a40-1b12-4e41-9862-090de17e76df',
        '4355ee95-561c-4fbc-9082-666bb6e22fae'
    ],
    'Lokalizacja zdarzeń' : [
        'bd0cc201-73b9-4927-a27c-8f8bd235ca3e',
        '19a27d27-9aa5-409b-ab36-40e5ba468460',
        '06e8a29a-44b7-47d0-bc7c-b2bfac91a916',
        'b23d6540-0587-4bc8-9310-6616fd981b1d',
        'a1250aee-487e-4adb-b80e-f4e02d94ebbe',
        '2fc230c9-fa1f-4a04-b495-0ec13bcf12cb'
    ],
    'Rodzaj zdarzeń': [
        '13f0d5c9-092d-4f61-ac05-0c2b2d9cc58d'
    ],
    'Miejsce zdarzeń' : [
        'a0e88208-09d6-4991-bc49-8c9b6a8fa224',
        '0fe6048a-4ebe-4a9f-adf0-09c879d5cc1c',
        '210ff851-09e9-4155-a9fa-588af3af7417',
        '6a0359a2-9bde-446e-ace1-cd67964fb90e',
        '6e33bdbf-a4de-434c-a8de-748373225407',
        'a8c1989b-5a67-491f-a154-2e25d874b967',
        'abb94a11-844d-4767-83ec-d0d2378fbcbf'
    ],
    'Pojazdy' : [
        '146bd589-fb42-4102-b6c4-d0e03d4eba1d'
    ],
    'Przyczyny zdarzeń' : [
        '59d266b1-ca93-44b3-befd-c71e33db967f',
        '431f604b-ee44-4ce8-ab38-993ae843bea7',
        '5d947d4e-0f0c-40f0-9c8e-7cffcc046efc'
    ],
    'Uczestnicy zdarzeń' : [
        '3a16412c-e1bf-4039-afec-1a54596a7a9f',
        '8609f19d-a81b-413d-8aa4-5c3dbfafddd4',
        '2803ea44-1ea9-48bf-b027-cf006be76010'
    ]
} %}

{% block body %}
    {% include 'form/filterForm.html.twig' %}
    <h2 style="text-align: center">{{ category }}</h2>
    {% for queryId in categories[category] %}
        {{ render(controller(
            'App\\Controller\\DefaultController::showReport',
            { 'originalRequest' : app.request, 'queryId': queryId }
        )) }}
    {% else %}
        No reports.
    {% endfor %}
{% endblock %}