{% extends 'base.html.twig' %}
{% block body %}
    <pre>
    {% for report in reports %}
        <table>
        {% for row in report.table %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% else %}
            <tr><td>Empty table.</td></tr>
        {% endfor %}
        </table>
    {% else %}
        No reports.
    {% endfor %}
    </pre>
{% endblock %}